<template name="dues">
  
    <div class="row">
        <div class="col-md-6 ">
            <div class="thumbnail " style="min-height:50px">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-center">  اﺟﻤﺎﻟﻲ اﻟﻤﺴﺘﺤﻖ ﻋﻠﻰ اﻟﻌﻤﻼء  </h4>
                    </div>
                    <div class="col-md-6">
                       <h4 class="text-center"> {{customerDues}} </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="thumbnail" style="min-height:50px">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-center">  اﺟﻤﺎﻟﻲ اﻟﻤﺴﺘﺤﻖ ﻟﻠﻤﻮﺭﺩﻳﻦ </h4>
                    </div>
                    <div class="col-md-6">
                       <h4 class="text-center"> {{supplierDues}} </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  

  
  {{#if isLoading}}
    <div class="loading">{{>spinner}}</div>
  {{/if}}
  
</template>