<template name="returnSaleModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> رد مبيعات </h4>
        </div>
        <div class="modal-body">
          
          <table class="table">
            <thead>
                <tr>
                        <th> المنتج </th>
                        <th> الكمية </th>
                        <th> السعر </th>
                        <th>الاجمالي </th>
                </tr>
            </thead>

            <tbody>

                {{#each lines}}
                    <tr class='return-line'>
                        <td>
                          <p class="form-control-static product">{{this.productName}}</p>
                        </td>
                        <td>
                          <input type="number" class="form-control qty" value={{qty this}} max={{qty this}} min="0">
                        </td>
                        <td>
                          <p class="form-control-static price">{{this.price}}</p>
                        </td>
                        <td>
                          <p class="form-control-static subTotal">{{subTotal this}}</p>
                        </td>

                    </tr>
                {{/each}}
                
            </tbody>

        </table>

            
          
        </div>

        <div class="modal-footer">
          <button class='btn btn-primary'  id='returnButton'> رد </button>
        </div>

      </div>
    </div>
  </div>
</template>
