<template name="returnsModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> مرتجعات فاتورة </h4>
        </div>
        <div class="modal-body">
          {{#each objects}}

            {{> FormView formStructure=formStructure formType="read" title=title object=this }}
          {{/each}}
          
        </div>

        <div class="modal-footer">
          
        </div>

      </div>
    </div>
  </div>
</template>
