<template name="ApplicationLayout">
<div class="container">
  {{> Header}}

  {{> errors}}
  
 
      <article>
        {{> yield}}
      </article>
  </div>

{{> meteorStatus lang='ar'}}
</template>
