<template name="Header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">B Point</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class={{active 'customers'}}><a href="/customers">اﻟﻌﻤﻼء</a></li>
          <li class={{active 'customerpayments'}}><a href="/customerpayments">ﻣﺪﻓﻮﻋﺎﺕ اﻟﻌﻤﻼء</a></li>
          <li class={{active 'suppliers'}}><a href="/suppliers">اﻟﻤﻮﺭﺩﻳﻦ</a></li>
          <li class={{active 'supplierpayments'}}><a href="/supplierpayments">ﻣﺪﻓﻮﻋﺎﺕ اﻟﻤﻮﺭﺩﻳﻦ</a></li>
          <li class={{active 'sales'}}><a href="/sales">اﻟﻤﺒﻴﻌﺎﺕ</a></li>
          <li class={{active 'purchases'}}><a href="/purchases">اﻟﻤﺸﺘﺮﻳﺎﺕ</a></li>
          <li class={{active 'expenses'}}><a href="/expenses">اﻟﻤﺼﺮﻭﻓﺎﺕ</a></li>
          <li class={{active 'products'}}><a href="/products">اﻟﻤﻨﺘﺠﺎﺕ</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
            {{> loginButtons}}
          </ul>
        <!--<form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>-->
<!-- 
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav navbar-left">
            {{> loginButtons}}
          </ul>
        </div> -->

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>
