<template name="home">
  
<div class="panel panel-default">
    <div class="panel-heading">
       <h3 class="panel-title text-center">  دلائل الاعمال </h3>
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="thumbnail " style="min-height:400px">
                        {{> cashFlow}}
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="thumbnail" style="min-height:400px">
                        {{> profitAndLoss}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 ">
                    {{> dues}} 
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 ">
                    {{> stock}} 
                </div>

            </div>



    </div>
</div>
  
  
  
    
</template>
