<template name="stock">
  
    <div class="row">
        <div class="col-md-12 ">
            <div class="thumbnail " style="min-height:50px">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-center">  اجمالي قيمة المخزون  </h4>
                    </div>
                    <div class="col-md-6">
                       <h4 class="text-center"> {{stockValue}} </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
  

  
  {{#if isLoading}}
    <div class="loading">{{>spinner}}</div>
  {{/if}}
  
</template>