<template name="cashFlow">
  <div class="row">
        <div class="col-md-12">
          <h3 class="text-center">  ﺣﺮﻛﺔ اﻟﺨﺰﻳﻨﺔ </h3>
        </div>
    </div>


     <div class="row">
        <div class="col-md-6">
           <label for="from">ﻣﻦ</label>
  <input class="form-control" value="{{dateFrom}}" id="from" name="from" type="date">
        </div>
        <div class="col-md-6">
            <label for="to">اﻟﻰ</label>
  <input class="form-control" value="{{dateTo}}" id="to" name="to" type="date">
        </div>
    </div>
  
  
  <div class="row">
        <div class="col-md-6">
            <h4 class="text-center"> ﻣﺪﻓﻮﻋﺎﺕ اﻟﻌﻤﻼء</h4>
        </div>
        <div class="col-md-6">
           <h4 class="text-center">{{customerPaymentsValue}}</h4>
        </div>
    </div>
  
   <div class="row">
        <div class="col-md-6">
            <h4 class="text-center">ﻣﺪﻓﻮﻋﺎﺕ اﻟﻤﻮﺭﺩﻳﻦ</h4>
        </div>
        <div class="col-md-6">
           <h4 class="text-center">( {{supplierPaymentsValue}} )</h4>
        </div>
    </div>

     <div class="row">
        <div class="col-md-6">
             <h4 class="text-center">اﺟﻤﺎﻟﻲ اﻟﻤﺼﺮﻭﻓﺎﺕ</h4>
        </div>
        <div class="col-md-6">
           <h4 class="text-center">( {{expensesValue}} )</h4>
        </div>
    </div>

     <div class="row">
        <div class="col-md-6">
           <h4 class="text-center"> ﺻﺎﻓﻲ ﺣﺮﻛﺔ اﻟﻨﻘﺪﻳﺔ</h4>
        </div>
        <div class="col-md-6">
            <h4 class="text-center">
            {{#if isLoading}} 
              جاري الحساب
            {{else}}
              {{netCashFlow}}
            {{/if}}
            </h4>
        </div>
    </div>
  

  {{#if isLoading}}
    <div class="loading">{{>spinner}}</div>
  {{/if}}
  
  
</template>