<template name="payReturnPurchaseModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> رد مبلغ </h4>
        </div>
        <div class="modal-body">
          
              <div class="row">
                <div class="col-xs-3 control-label">
                    القيمة
                </div>
                <div class="col-xs-8">
                    <input type="number" class="form-control" id="paymentValue" >
                </div>
              </div>

        </div>
        <div class="modal-footer">
          <button class='btn btn-primary'  id='payButton'> رد </button>
        </div>


      </div>
    </div>
  </div>
</template>
