.navbar-left .dropdown-menu {
    left: 0px;
    right: auto;
}

.load-more{
  text-align:center;
  background:#eee;
  border: 1px solid #ddd;
  display:block;
  padding: 10px;
}

.control-label {
    padding-top: 7px;
    margin-bottom: 0px;
    text-align: left;
}

.modal-footer {
    text-align: right !important;
}