<template name="ListViewWrapper">
  
  <!-- <a href="/product/new" class='btn btn-primary pull-left'>جديد </a>
 -->

 <div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <h3 class="panel-title text-center col-xs-11">  {{title}} </h3>
            {{#if isEditable}}
                <a href="/{{listStructure.name}}/new" class='btn btn-primary col-xs-1'>جديد </a>
            {{/if}}
        </div>

       
    </div>
    <div class="panel-body">

      {{> ListView collection=listStructure.collection  limit=15 increase=5 settings=listStructure }}

    </div>
</div>



</template>
