<template name="addObjectModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body">
          
          {{> FormView formStructure=formStructure formType="create" title=title }}

        </div>

      </div>
    </div>
  </div>
</template>
