<template name="editObjectModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body">
          
          {{> FormView formStructure=formStructure formType="update" title=title object=object }}

        </div>

      </div>
    </div>
  </div>
</template>
