<template name="FormView">

<div class="panel panel-default">
    <div class="panel-heading">
       <h3 class="panel-title text-center">  {{title}} </h3>
    </div>
    <div class="panel-body">

        <form class={{formStructure.class}}>

       
            {{#each formStructure.fieldGroups}}
                {{#if isVisible this}}
                      <div class="row form-group {{this.class}}"  style={{this.style}}>

                              {{#each this.fields}}
                                {{#if isVisible this}}
                                    
                                    <div class={{this.class}}  style={{this.style}}>
                                        <div class="row ">
                                            {{#if hasLabel this}}
                                                <div class="col-xs-3 control-label">
                                                    <label for={{this.name}}>{{this.label}}</label>
                                                </div>
                                                <div class="col-xs-8">
                                                    {{> FormElement field=this formStructure=formStructure object=object formType=formType formValues=formValues}}
                                                </div>

                                            {{else}}
                                                <div class="col-xs-10">
                                                    {{> FormElement field=this formStructure=formStructure object=object formType=formType formValues=formValues}}
                                                </div>


                                            {{/if}}
                                        </div>
                                    </div>
                                {{/if}}

                              {{/each}}

                      </div>
                {{/if}}
            {{/each}}
            



        </form>



    </div>

    <div class="panel-footer">
        {{#if isEditable}}
            <button  class="btn btn-primary edit">{{formStructure.editButtonContent}}</button>
        {{/if}}

        {{#if isSavable}}
            <button type="submit" class="btn btn-primary submit">{{formStructure.submitButtonContent}}</button>
        {{/if}}

        {{#if isDeletable}}
            <button  class="btn btn-warning delete">{{formStructure.deleteButtonContent}}</button>
        {{/if}}

       
       {{#each formStructure.customButtons}}
            {{#if isVisible this}}

                <button  id={{this.name}} class="btn btn-primary custom">{{this.label}}</button>
            {{/if}}
       {{/each}}


    </div>

</div>



    


</template>