<template name="CreateFormView">

 {{> FormView formStructure=formStructure formType="create" title=title object=object }}

</template>

<template name="ReadFormView">

 {{> FormView formStructure=formStructure formType="read" title=title object=object }}

</template>

<template name="UpdateFormView">

 {{> FormView formStructure=formStructure formType="update" title=title object=object }}

</template>