<template name="FormElement">
    {{#if isReadOnly}}
        {{#if isList}}

            {{> InnerList collection=collection  field=field rawValue=rawValue formValues=formValues isReadOnly= isReadOnly  }}

        {{else}}
            {{#if isBarcode}}
                {{> barcode text=value optionalText="product name" font="0 Arial" width=360 height=55 }}
            {{else}}

                <p class="form-control-static">{{value}}</p>
            {{/if}}
        {{/if}}
        
    {{else}}

        {{#if isSelect}}

            <select  class="form-control" id="{{field.name}}" name="{{field.name}}" placeholder= {{field.placeholder}} required="{{field.required}}" style={{field.style}}>
                {{#each field.options}}
                    <option value={{this.value}} selected={{isDefault this.value}}> {{this.label}} </option>
                {{/each}}

            </select>

        {{/if}}

        {{#if isObject}}

            {{> SelectElement collection=collection name=field.name field=field rawValue=rawValue formValues=formValues  }}

        {{/if}}

        {{#if isList}}

            {{> InnerList collection=collection  field=field rawValue=rawValue formValues=formValues  }}

        {{/if}}

        {{#if isInput}}

            <input type={{field.type}} class="form-control" id="{{field.name}}" name="{{field.name}}" value={{value}} placeholder= {{field.placeholder}} required="{{field.required}}" style={{field.style}}>
            
        {{/if}}

        {{#if isButton}}

            <button class='btn btn-primary action'  id='{{field.name}}'> {{field.label}} </button>
            
        {{/if}}

        {{#if isState}}

            <input type="checkbox" class="form-control" id="{{field.name}}" name="{{field.name}}" value={{value}} placeholder= {{field.placeholder}} required="{{field.required}}" style={{field.style}}>
            
        {{/if}}

        <span class="help-block" for="{{field.name}}"></span>
    {{/if}}
</template>