<template name="InnerList">
    <input name={{field.name}} type="hidden" value={{notEmptyList}}>
    <table class="table">
        <thead>
            <tr>
                {{#each field.fields}}
                    <th> {{this.label}} </th>
                {{/each}}
             
            </tr>
        </thead>

        <tbody>

            {{#each listObjects}}
                <tr>
                    {{#each fields}}
                        <td> {{{getValue .. this}}} </td>
                    {{/each}}
                    
                    {{#unless isReadOnly}}
                        <button class="btn btn-primary remove-item" index={{this.index}} type="button">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    {{/unless}}
                    
                </tr>
            {{/each}}
            
        </tbody>

    </table>

</template>