<template name="SelectElement">
    <div class="row ">
        
        <div class="col-xs-10">
            <div data-required="true" class="form-group" id="{{name}}Select">
            <select class="form-control" maxlength="200" id="{{name}}" name="{{name}}" >
               <!--  {{#if hasDefaultValue}}
                  <option value={{rawValue}}> Any Thing </option>
                {{/if}} -->
              </select>

            </div>
        </div>

        <div class="col-xs-1">
             <button class="btn btn-primary" id="addObject" type="button">
              <span class="glyphicon glyphicon-plus"></span>
            </button> 
        </div>

    </div>
    
</template>