<template name="profitAndLoss">

    <div class="row">
        <div class="col-md-12">
          <h3 class="text-center">  اﻻﺭﺑﺎﺡ ﻭ اﻟﺨﺴﺎﺋﺮ </h3>
        </div>
    </div>

     <div class="row">
        <div class="col-md-6">
           <label for="from">ﻣﻦ</label>
  <input class="form-control" value="{{dateFrom}}" id="from" name="from" type="date">
        </div>
        <div class="col-md-6">
            <label for="to">اﻟﻰ</label>
  <input class="form-control" value="{{dateTo}}" id="to" name="to" type="date">
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <h4 class="text-center"> اﺟﻤﺎﻟﻲ اﻟﻤﺒﻴﻌﺎﺕ </h4>
        </div>
        <div class="col-md-6">
           <h4 class="text-center">{{salesValue}}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4 class="text-center"> مردودات المبيعات </h4>
        </div>
        <div class="col-md-6">
           <h4 class="text-center">( {{saleReturnsValue}} )</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4 class="text-center"> ﺗﻜﻠﻔﺔ اﻟﺒﻀﺎﻋﺔ اﻟﻤﺒﺎﻋﺔ </h4>
        </div>
        <div class="col-md-6">
           <h4 class="text-center">( {{cogsValue}} )</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4 class="text-center"> ﻣﺠﻤﻞ اﻟﺮﺑﺢ </h4>
        </div>
        <div class="col-md-6">
           <h4 class="text-center">{{grossProfitValue}}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4 class="text-center"> اﺟﻤﺎﻟﻲ اﻟﻤﺼﺮﻭﻓﺎﺕ </h4>
        </div>
        <div class="col-md-6">
           <h4 class="text-center">( {{expensesValue}} )</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4 class="text-center"> ﺻﺎﻓﻲ اﻟﺮﺑﺢ </h4>
        </div>
        <div class="col-md-6">
           <h4 class="text-center">{{netProfitValue}}</h4>
        </div>
    </div>
  
    {{#if isLoading}}
      <div class="loading">{{>spinner}}</div>
    {{/if}}
  
</template>